.shoppingCart{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30%;
}

.itemInCart{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;

}

.itemInCart >img{
    width: 50px;
    height: 50px;
}

.itemInCart > p{
    text-align: left; 
    width: 30%;
}

.p2{
    text-align: center;
}
