.product {
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex: 1 12%;
    background-color: rgb(254, 254, 254);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    transition: all ease-in-out  .3s;
  }

  .product:hover{
    transform: scale(1.1);

  }

  .product img {
      width: 200px;
      height: 200px;
      cursor: pointer;

  }

.text{
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    text-align: center;
  }

  .btns{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }